<!-- views/pages/v_cargador.ejs -->

<!DOCTYPE html>
<html lang='en'>
<meta http-equiv="refresh" content="10" >
<head>
    <% include ../partials/head %>
</head>

<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class='jumbotron'>
          <h2>Estado del Hardware</h2>

          <% var valor=''  %>
          <% estado.forEach(function(estado_hwr) {  %>

          <table>
            <tr> <td>hardware ID </td> <td> Parametro </td> <td>Valor </td> </tr>
            <tr> <td> <%= estado_hwr.nombre; %> </td> <td> Direccion 0  </td> <td> <%= estado_hwr.device_address.msb; %> </td> </tr>
            <tr> <td> - </td> <td> Direccion 1 </td> <td>  <%= estado_hwr.device_address.lsb %> </td> </tr>
          </table>
          <table>
            <tr> <td>Slot </td> <td>Corriente (A) </td><td>Voltaje (V) </td> <td>Temperatura ( ºC ) </td>  </tr>
            <% for(var i=0; i<estado_hwr.n_slots; i++) { %>
            <tr> <td>
              <%
                if ( typeof estado_hwr.slot[i] =='undefined' ){
                  valor=''
                } else valor= estado_hwr.slot[i].numero;
               %>
               <%= valor; %>
               Estado =
               <%
                if (typeof estado_hwr.slot[i] == 'undefined' ){
                  valor =''
                } else valor = estado_hwr.slot[i].estado;
               %>
               <%= valor; %>
             </td>
             <td>
               <% if (typeof estado_hwr.corriente[i] =='undefined'){
                     valor =''
                   } else valor = estado_hwr.corriente[i].valor;
                %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>
             </td>
             <td>
               <% if ('undefined' === typeof estado_hwr.voltaje[i]) {
                 valor = ''
               } else valor = estado_hwr.voltaje[i].valor;
               %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>

             </td>
             <td>
               <% if ('undefined' === typeof estado_hwr.temperatura[i]) {
                 valor = ''
               } else valor = estado_hwr.temperatura[i].valor;
               %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>

             </td>
            </tr>

            <% }; %>

          </table>
          <br>
          <% }); %>
        </div>
        <br>
        <div id="volt_history" class="jumbotron">
            <canvas id="graf_voltaje" width="300" height="100"></canvas>
            <script src="js/Chart.min.js"></script>
            <script>
            var prom1V= <%= parseFloat(estadistica.promedios.prom1V).toFixed(2) %>
            var prom2V = <%= parseFloat(estadistica.promedios.prom2V).toFixed(2) %>
            var prom3V = <%= parseFloat(estadistica.promedios.prom3V).toFixed(2) %>
            var prom4V = <%= parseFloat(estadistica.promedios.prom4V).toFixed(2) %>
            var ctx = document.getElementById("graf_voltaje");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Slot 1", "Slot 2", "Slot 3", "Slot 4"],
                    datasets: [{
                        label: 'Promedio de Voltaje',
                        data: [prom1V, prom2V, prom3V, prom4V],
                        backgroundColor: [
                            'rgba(69, 172, 52, 0.8)',
                            'rgba(23, 75, 94, 0.8)',
                            'rgba(226, 132, 19, 0.8)',
                            'rgba(80, 193, 228, 0.8)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }],
                    yAxisID :'Voltaje (V)'
                },
                options: {title:{
                  display:true,
                  text:'Promedio de Voltaje'
                },
                legend: {
                  display: false
                },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
        </div>
        <div id="corr_history" class="jumbotron">
            <canvas id="graf_corriente" width="300" height="100"></canvas>
            <script>
            var prom1C= <%= parseFloat(estadistica.promedios.prom1C).toFixed(2) %>
            var prom2C = <%= parseFloat(estadistica.promedios.prom2C).toFixed(2) %>
            var prom3C = <%= parseFloat(estadistica.promedios.prom3C).toFixed(2) %>
            var prom4C = <%= parseFloat(estadistica.promedios.prom4C).toFixed(2) %>
            var ctx = document.getElementById("graf_corriente");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Slot 1", "Slot 2", "Slot 3", "Slot 4"],
                    datasets: [{
                        label: 'Promedio de Corriente',
                        data: [prom1C, prom2C, prom3C, prom4C],
                        backgroundColor: [
                          'rgba(69, 172, 52, 0.8)',
                          'rgba(23, 75, 94, 0.8)',
                          'rgba(226, 132, 19, 0.8)',
                          'rgba(80, 193, 228, 0.8)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  title:{
                    display:true,
                    text:'Promedio de Corriente'
                  },
                  legend: {
                    display: false
                  },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
        </div>
        <div id="temp_history" class="jumbotron">
            <canvas id="graf_temp" width="300" height="100"></canvas>

            <script>
            var prom1T= <%= parseFloat(estadistica.promedios.prom1T).toFixed(2) %>
            var prom2T = <%= parseFloat(estadistica.promedios.prom2T).toFixed(2) %>
            var prom3T = <%= parseFloat(estadistica.promedios.prom3T).toFixed(2) %>
            var prom4T = <%= parseFloat(estadistica.promedios.prom4T).toFixed(2) %>
            var ctx = document.getElementById("graf_temp");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Slot 1", "Slot 2", "Slot 3", "Slot 4"],
                    datasets: [{
                        label: '',
                        data: [prom1T, prom2T, prom3T, prom4T],
                        backgroundColor: [
                          'rgba(69, 172, 52, 0.8)',
                          'rgba(23, 75, 94, 0.8)',
                          'rgba(226, 132, 19, 0.8)',
                          'rgba(80, 193, 228, 0.8)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  title:{
                    display:true,
                    text:'Promedio de Temperatura'
                  },
                  legend: {
                    display: false
                  },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
