<!-- views/pages/v_cargador.ejs -->

<!DOCTYPE html>
<html lang='en'>
<meta http-equiv="refresh" content="10" >
<head>
    <% include ../partials/head %>
</head>
<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class='jumbotron'>
          <h2>Estado del Hardware</h2>

          <% var valor=''  %>
          <% estado.forEach(function(estado_hwr) {  %>

          <table>
            <tr> <td>hardware ID </td> <td> Parametro </td> <td>Valor </td> </tr>
            <tr> <td> <%= estado_hwr.nombre; %> </td> <td> Direccion 0  </td> <td> <%= estado_hwr.device_address.msb; %> </td> </tr>
            <tr> <td> - </td> <td> Direccion 1 </td> <td>  <%= estado_hwr.device_address.lsb %> </td> </tr>
          </table>
          <table>
            <tr> <td>Slot </td> <td>Corriente (A) </td><td>Voltaje (V) </td> <td>Temperatura () </td> <td>Potencia (mW) </td> </tr>
            <% for(var i=0; i<estado_hwr.n_slots; i++) { %>
            <tr> <td>
              <%
                if ( typeof estado_hwr.slot[i] =='undefined' ){
                  valor=''
                } else valor= estado_hwr.slot[i].numero;
               %>
               <%= valor; %>
               Estado =
               <%
                if (typeof estado_hwr.slot[i] == 'undefined' ){
                  valor =''
                } else valor = estado_hwr.slot[i].estado;
               %>
               <%= valor; %>
             </td>
             <td>
               <% if (typeof estado_hwr.corriente[i] =='undefined'){
                     valor =''
                   } else valor = estado_hwr.corriente[i].valor;
                %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>
             </td>
             <td>
               <% if ('undefined' === typeof estado_hwr.voltaje[i]) {
                 valor = ''
               } else valor = estado_hwr.voltaje[i].valor;
               %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>

             </td>
             <td>
               <% if ('undefined' === typeof estado_hwr.temperatura[i]) {
                 valor = ''
               } else valor = estado_hwr.temperatura[i].valor;
               %>
                <%= parseFloat(Math.round(valor * 100) / 100).toFixed(2); %>

             </td>
            </tr>

            <% }; %>

          </table>
          <br>
          <% }); %>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
